#logPage {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('static\images\auth.jpgL');
}

#homePage {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('static\images\home.jpg');
}
h1 {
    justify-content: space-between;
}