{% include "health/navbar.html" %}

<style>
    body {
        background-color: #141414;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
</style>
<div class="container" style="padding-top: 30px; padding-left: 30px;">
    <h1 style="color: red;">About Us</h1>
    <p>
        Welcome to Health Tracker, your ultimate companion for a healthier lifestyle!
    </p>
    <p>
        At Health Tracker, we are passionate about empowering individuals to take control of their health and wellness. Our mission is to provide you with the tools and insights you need to make informed decisions about your well-being.
    </p>
    <p>
        Whether you're looking to track your fitness goals, monitor your nutrition, or simply stay motivated on your health journey, Health Tracker is here to support you every step of the way.
    </p>
    <p>
        Join our community of health enthusiasts and start your journey towards a healthier, happier you today!
    </p>
</div>